* {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #03396C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body p {
    padding: 0;
    margin: 0;
}

.container {
    padding: 2rem;
    max-width: 300px;
    background-color: white;
    border-radius: 1rem;
}

h1 {
    font-size: 2rem;
}

.header {
    margin-bottom: 3rem;
}

.header > div {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.header > div > input {
    font-size: 1.25rem;
    border-radius: 0.25rem;
    outline: 0;
    border: 0.1rem solid;
}

.header > div > button {
    font-size: 1.25rem;
    padding: 0 0.5rem;
    background-color: #f18989;
    border: 1px solid #f18989;
    border-radius: 25%;
}

/* list */
.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 0 0 1.5rem;
    margin: 1rem 0 0 0;
}

.list_item {
    list-style: none;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
}

.list_item::before {
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 25%;
    position: absolute;

    border: 1px solid black;
    left: -1.5rem;
}

.list_item--checked {
    text-decoration: line-through;
}

.list_item--checked::before {
    border-color: #f18989;
    background-color: #f18989;
    content: '\2713';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.list_item div {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    border-radius: 100%;
    font-size: 1.25rem;
}

.list_item div:hover {
    background-color: #edeef0;
}